<style>body{
    margin: 0;
    padding: 0;
    background: url(bg.jpg) no-repeat;
    background-size: cover;
  }
  .box{
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic',sans-serif;
  }
  .box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  .box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
  }
  .box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
  }
  .box p{
    text-align: justify;
  }
  ul{
    margin: 0;
    padding: 0;
  }
  .box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
  }
  .box li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
  }
  .box li a:hover{
    color: #b9b9b9;
  }
  h1{color: black;}
  h2{color: black;}
  p1{color: rgb(243, 224, 50);}

a:visited {
  color: red;
}


a:hover {
  color: orangered;
}


a:active {
  color: blue;
}

#chat-button {
      position: fixed;
      bottom: 10px;
      right: 10px;
      background-color: #0e1113;
      color: white;
      border: none;
      border-radius: 50px;
      padding: 15px 20px;
      cursor: pointer;
      z-index: 999;
      animation: notification-blink 2s 5;
    }
    @keyframes notification-blink {
      0% { background-color: #0e1113; }
      50% { background-color: red; }
      100% { background-color: #0e1113; }
    }
    /* Hide the chatbot initially */
    #chatbot-dialogflow {
      display: none;
      position: fixed;
      top: 30%;
      left: 75%;
      z-index: 998;
    }
  </style>
